<nav>
  <a href="/items">Shop</a><br />
  <a href="/carts">My Carts</a><br />
  <a href="/logout">Logout</a><br />
</nav>

<h1><%=@items[0].category%></h1>

<% @items.each do |item| %>
    <img src="../images/items/<%=@category%>/<%=item.name.downcase.gsub(" ","-")%>.jpg" alt="<%=item.name%>">
    <figcaption><%= item.name %>, <%= item.size %><br />Price: $<%= item.price %></figcaption>
    <form action="/users/cart" method="post">
        <input type="hidden" name="item_name" value="<%=item.name%>">
        <input type="submit" value="Add to Cart">
    </form>
<% end %>