<nav>
    <a href="/items">Shop</a> <a href="/carts">My Carts</a> [Current User: <%=@user.username%>] <a href="/logout">Logout</a>
</nav>

<h1><%=@items[0].category%></h1>

<form action="/carts" method="post">
    <% @items.each do |item| %>
        <img src="../images/items/<%=@category%>/<%=item.name.downcase.gsub(" ","-")%>.jpg" alt="<%=item.name%>">
        <figcaption><%= item.name %>, <%= item.size %><br />Price: $<%= item.price %></figcaption>
        <input type="checkbox" name="item_list[]" id="<%=item.name%>" value="<%=item.id%>">
        <br></br>
    <% end %>
    
    <% if !@carts.empty? %>
        <p>Choose which shopping cart to add items to:</p>
        <% @carts.each do |cart| %>
            <input type="radio" name="cart_name" id="<%=cart.name%>" value="<%=cart.id%>"><%=cart.name%><br />
        <% end %>
        <input type="radio" name="cart_name" id="create_cart" value="create_cart">Create New Cart:
    <% else %>
        <p>Create New Cart: </p>
    <% end %>
    <input type="text" name="new_cart" placeholder="cart name"></input>
    <input type="submit" value="Add Items to Cart">
</form>
